{% macro header() %}
     <header class="header-wrapper header-wrapper--home">
        <div class="container">
            <!-- Logo link-->
            <a href='/' class="logo">
                <img alt='logo' src="/images/logo.png">
            </a>

            <!-- Main website navigation-->
            <nav id="navigation-box">
                <!-- Toggle for mobile menu mode -->
                <a href="#" id="navigation-toggle">
                    <span class="menu-icon">
                        <span class="icon-toggle" role="button" aria-label="Toggle Navigation">
                          <span class="lines"></span>
                        </span>
                    </span>
                </a>

                <!-- Link navigation -->
                <ul id="navigation">

                </ul>
            </nav>
        </div>
    </header>
{% endmacro %}