{% extends 'layout.html' %}

{% import "header.html" as header %}
{% import "footer.html" as footer %}
{% import "slider.html" as slider %}


{% block body %}

    {{header.header()}}
    {{slider.slider()}}
	<section class="container">
        <div class="movie-best">
             <div class="col-sm-10 col-sm-offset-1 movie-best__rating">Today Best choice</div>
             <div class="col-sm-12 change--col">
                {% for i in range(0, featured.length) -%}
                     <div class="movie-beta__item ">
                        <img alt='' src={{featured[i].medium_cover_image}}>
                        <span class="best-rate">{{featured[i].rating}}</span>
                        <ul class="movie-beta__info">
                            <li><span class="best-voted">{{featured[i].title}}</span></li>
                            <li>
                              <p class="movie__time">{{featured[i].runtime}}</p>
                              {% for j in range(0, movies[i].genres.length) -%}
                                  <a>{{featured[i].genres[j]}},</a>
                              {%- endfor %}
                              <p>{{featured[i].like_count}} comments</p>
                            </li>
                            <li class="last-block">
                              <a href=movie/{{featured[i].id}} class="slide__link">more</a>
                            </li>
                        </ul>
                    </div>
                {%- endfor %}
            </div>
            <div class="col-sm-10 col-sm-offset-1 movie-best__check">check all movies now playing</div>
        </div>

        <div class="col-sm-12">
            <div class="mega-select-present mega-select-top mega-select--full">
                <div class="mega-select-marker">
                    <div class="marker-indecator location">
                        <p class="select-marker"><span>Look for that movie</span> <br>you love</p>
                    </div>
                </div>

                  <div class="mega-select pull-right">
                      <span class="mega-select__point">Search by</span>
                      <ul class="mega-select__sort">
                          <li class="filter-wrap"><a href="#" class="mega-select__filter filter--active" data-filter='location'>Movie</a></li>
                      </ul>
                      <form id="searchMovie" method="get" action="/results">
                        <input name="s" type='text' class="select__field">
                        <div class="select__btn">
                            <button type="submit" href="#" class="btn btn-md btn--danger location">find <span class="hidden-exrtasm">movies</span></button>
                        </div>
                      </form>
                  </div>
              </div>
        </div>

        <div class="clearfix"></div>

        <h2 id='target' class="page-heading heading--outcontainer">Now in the cinema</h2>

        <div class="col-sm-12">
            <div class="row">
                <div class="col-md-12">
                    {% for i in range(0, movies.length) -%}
                        {% if i % 4 == 0 %}
                        <div class="movie movie--test movie--test--dark movie--test--left">
                        {% elif i % 4 == 1 %}
                        <div class="movie movie--test movie--test--light movie--test--left">
                        {% elif i % 4 == 2 %}
                        <div class="movie movie--test movie--test--light movie--test--right">
                        {% else %}
                        <div class="movie movie--test movie--test--dark movie--test--right">
                        {% endif %}
                            <div class="movie__images">
                                <a href="movie/{{movies[i].id}}" class="movie-beta__link">
                                    <img alt='' src={{movies[i].large_cover_image}}>
                                </a>
                            </div>
                        
                            <div class="movie__info">
                                <a href='movie/{{movies[i].id}}' class="movie__title">{{movies[i].title_long}}</a>
                        
                                <p class="movie__time">91 min</p>
                        
                                <p class="movie__option">
                                    {% for genre in range(0, movies[i].genres.length) -%}
                                        <a href="#">{{ movies[i].genres[genre] }}</a> |
                                    {% endfor -%}
                                </p>
                        
                                <div class="movie__rate">
                                    <div class="score"></div>
                                    <span class="movie__rating">{{movies[i].rating}}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    
    {{footer.footer()}}
{% endblock %}
