<li data-transition="fade" class="slide" data-title='Travel worldwide. Create trip film.'>
        
    <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
    <img class="rev-slidebg" alt='' src="images/bg-video.jpg">
    <div class="rs-background-video-layer"
            data-forcerewind="on"
            data-volume="mute"
            data-videowidth="100%"
            data-videoheight="100%"
            data-videomp4="video/TravelIs.mp4"
            data-videopreload="auto"
            data-videoloop="loop"
            data-forceCover="1"
            data-aspectratio="16:9"
            data-autoplay="true"
            data-autoplayonlyfirsttime="false"
    ></div>
    <div class="tp-caption slide__name slide__name--smaller"
            data-x="center"
            data-y="160"

            data-splitin="chars"
            data-elementdelay="0.1"

            data-speed="700"
            data-start="1400"
            data-easing="easeOutBack"

            data-frames='[{
            "delay":1400,
            "speed":700,
            "split":"chars",
            "splitdelay":0.1,
            "frame":"0",
            "from":"opacity:0;",
            "to":"o:1;",
            "ease":"Power3.easeInOut"
            },{
            "delay":"wait",
            "speed":300,
            "frame":"999",
            "to":"opacity:0;",
            "ease":"Power3.easeInOut"
            }]'>
        Travel, Admire, Remember.
    </div>
    <div class="tp-caption slide__time"
            data-x="center"
            data-hoffset='-115'
            data-y="242"
            data-frames='[{
            "delay":1800,
            "speed":300,
            "frame":"0",
            "from":"x:[50%];opacity:0;",
            "to":"o:1;",
            "ease":"Power3.easeInOut"
            },{
            "delay":"wait",
            "speed":300,
            "frame":"999",
            "to":"opacity:0;",
            "ease":"Power3.easeInOut"
            }]'>
            From
    </div>
    <div class="tp-caption slide__date position-center postion-place--two lfb ltb"
            data-x="center"
            data-hoffset='-50'
            data-y="242"
            data-frames='[{
            "delay":2200,
            "speed":500,
            "frame":"0",
            "from":"y:100px;opacity:0;",
            "to":"o:1;",
            "ease":"Power3.easeInOut"
            },{
            "delay":"wait",
            "speed":300,
            "frame":"999",
            "to":"opacity:0;",
            "ease":"Power3.easeInOut"
            }]'>
            April 18
    </div>
    <div class="tp-caption slide__time"
            data-x="center"
            data-hoffset='5'
            data-y="242"
            data-frames='[{
            "delay":1800,
            "speed":300,
            "frame":"0",
            "from":"x:[50%];opacity:0;",
            "to":"o:1;",
            "ease":"Power3.easeInOut"
            },{
            "delay":"wait",
            "speed":300,
            "frame":"999",
            "to":"opacity:0;",
            "ease":"Power3.easeInOut"
            }]'>
            - till
    </div>
    <div class="tp-caption slide__date"
            data-x="center"
            data-hoffset='60'
            data-y="242"
            data-frames='[{
            "delay":2200,
            "speed":500,
            "frame":"0",
            "from":"y:100px;opacity:0;",
            "to":"o:1;",
            "ease":"Power3.easeInOut"
            },{
            "delay":"wait",
            "speed":300,
            "frame":"999",
            "to":"opacity:0;",
            "ease":"Power3.easeInOut"
            }]'>
            May 01
    </div>

    <div class="tp-caption slider-wrap-btn"
            data-x="center"
            data-y="310"
            data-frames='[{
            "delay":2800,
            "speed":400,
            "frame":"0",
            "from":"y:100px;opacity:0;",
            "to":"o:1;",
            "ease":"Power3.easeInOut"
            },{
            "delay":"wait",
            "speed":300,
            "frame":"999",
            "to":"opacity:0;",
            "ease":"Power3.easeInOut"
            }]'>
            <a href="#" class="btn btn-md btn--danger btn--wide slider--btn">learn more</a>
    </div>
</li>

<!-- Movie variant with time -->
<div class="movie movie--test movie--test--dark movie--test--left">
    <div class="movie__images">
        <a href="movie-page-full.html" class="movie-beta__link">
            <img alt='' src="images/movie/movie-time8.jpg">
        </a>
    </div>

    <div class="movie__info">
        <a href='movie-page-full.html' class="movie__title">Gravity (2013)  </a>

        <p class="movie__time">91 min</p>

        <p class="movie__option"><a href="#">Sci-Fi</a> | <a href="#">Thriller</a> | <a href="#">Drama</a></p>

        <div class="movie__rate">
            <div class="score"></div>
            <span class="movie__rating">4.1</span>
        </div>
    </div>
</div>
<!-- Movie variant with time -->

<!-- Movie variant with time -->
<div class="movie movie--test movie--test--light movie--test--left">
    <div class="movie__images">
        <a href="movie-page-full.html" class="movie-beta__link">
        <img alt='' src="images/movie/movie-time1.jpg">
        </a>
    </div>

    <div class="movie__info">
        <a href='movie-page-full.html' class="movie__title">The Hobbit: The Desolation of Smaug (2013)  </a>

        <p class="movie__time">169 min</p>

        <p class="movie__option"><a href="#">Adventure</a> | <a href="#">Fantasy</a> | <a href="#">Drama</a></p>

        <div class="movie__rate">
            <div class="score"></div>
            <span class="movie__rating">5.0</span>
        </div>
    </div>
</div>
<!-- Movie variant with time -->

<!-- Movie variant with time -->
<div class="movie movie--test movie--test--light movie--test--right">
    <div class="movie__images">
        <a href="movie-page-full.html" class="movie-beta__link">
        <img alt='' src="images/movie/movie-time9.jpg">
        </a>
    </div>

    <div class="movie__info">
        <a href='movie-page-full.html' class="movie__title">The Hunger Games: Catching Fire (2013)   </a>

        <p class="movie__time">146 min</p>

        <p class="movie__option"><a href="#">Action</a> | <a href="#">Adventure</a> | <a href="#">Sci-Fi</a></p>

        <div class="movie__rate">
            <div class="score"></div>
            <span class="movie__rating">4.9</span>
        </div>
    </div>
</div>
<!-- Movie variant with time -->

<!-- Movie variant with time -->
<div class="movie movie--test movie--test--dark movie--test--right">
    <div class="movie__images">
        <a href="movie-page-full.html" class="movie-beta__link">
        <img alt='' src="images/movie/movie-time10.jpg">
        </a>
    </div>

    <div class="movie__info">
        <a href='movie-page-full.html' class="movie__title">Thor: The Dark World (2013) </a>

        <p class="movie__time">112 min</p>

        <p class="movie__option"><a href="#">Action</a> | <a href="#">Adventure</a> | <a href="#">Fantasy</a></p>

        <div class="movie__rate">
            <div class="score"></div>
            <span class="movie__rating">5.0</span>
        </div>
    </div>
</div>
<!-- Movie variant with time -->

<!-- Movie variant with time -->
<div class="movie movie--test movie--test--dark movie--test--left">
    <div class="movie__images">
        <a href="movie-page-full.html" class="movie-beta__link">
        <img alt='' src="images/movie/movie-time11.jpg">
        </a>
    </div>

    <div class="movie__info">
        <a href='movie-page-full.html' class="movie__title">World War Z (2013)  </a>

        <p class="movie__time">116 min</p>

        <p class="movie__option"><a href="#">Action</a> | <a href="#">Adventure</a> | <a href="#">Horror</a></p>

        <div class="movie__rate">
            <div class="score"></div>
            <span class="movie__rating">4.1</span>
        </div>
    </div>
</div>
<!-- Movie variant with time -->

<!-- Movie variant with time -->
<div class="movie movie--test movie--test--light movie--test--left">
    <div class="movie__images">
        <a href="movie-page-full.html" class="movie-beta__link">
        <img alt='' src="images/movie/movie-time12.jpg">
        </a>
    </div>

    <div class="movie__info">
        <a href='movie-page-full.html' class="movie__title">Prisoners (2013) </a>

        <p class="movie__time">153 min</p>

        <p class="movie__option"><a href="#">Crime</a> | <a href="#">Thriller</a> | <a href="#">Drama</a></p>

        <div class="movie__rate">
            <div class="score"></div>
            <span class="movie__rating">5.0</span>
        </div>
    </div>
</div>
<!-- Movie variant with time -->

<!-- Movie variant with time -->
<div class="movie movie--test movie--test--light movie--test--right">
    <div class="movie__images">
        <a href="movie-page-full.html" class="movie-beta__link">
        <img alt='' src="images/movie/movie-time13.jpg">
        </a>
    </div>

    <div class="movie__info">
        <a href='movie-page-full.html' class="movie__title">This Is the End (2013)   </a>

        <p class="movie__time">107 min</p>

        <p class="movie__option"><a href="#">Comedy</a> | <a href="#">Fantasy</a></p>

        <div class="movie__rate">
            <div class="score"></div>
            <span class="movie__rating">4.9</span>
        </div>
    </div>
</div>
<!-- Movie variant with time -->

<!-- Movie variant with time -->
<div class="movie movie--test movie--test--dark movie--test--right">
    <div class="movie__images">
        <a href="movie-page-full.html" class="movie-beta__link">
        <img alt='' src="images/movie/movie-time14.jpg">
        </a>
    </div>

    <div class="movie__info">
        <a href='movie-page-full.html' class="movie__title">The Internship (2013)  </a>

        <p class="movie__time">112 min</p>

        <p class="movie__option"><a href="#">Comedy</a></p>

        <div class="movie__rate">
            <div class="score"></div>
            <span class="movie__rating">5.0</span>
        </div>
    </div>
</div>
<!-- Movie variant with time -->
</div>